body
{
	background-color: magenta;
}
p
{
	background-color: blue;
	color: white;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 15pt;
}
a.link {
	color: white;
}
a:hover
{
	background-color: red;
}
